@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #d5eaee;
}

#seleccion-animales{
    display:flex;
    flex-direction:column;
    align-items: center;
    color: whitesmoke;
}

.titulo{
    font-family: 'Caprasimo', cursive;
    color: rgb(24, 26, 25);
    font-size: 40px;
    width: 400px;
    height: 80px;
    margin:0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.subtitulo1{
    color: rgb(24, 26, 25);
    font-size:30px;
    margin:10px;
}

.labels{
    display:flex;
    gap: 10px;
}

.tarjeta-animal{
    width: 220px;
    height: 160px;
    margin: 5px;
    color: #004450;
    background-color: rgb(79, 226, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size:25px ;
}
.tarjeta-animales img{
    margin-top: 50px;
    padding-left: 50px;
    width: 200px;
    height: 300px;
}

#boton-animales{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid rgb (79,226,214);
    color :black;
    font-family: 'Poppins', sans-serif;

}

.tarjeta-animal img{
    width: 140px;
    height: 132px;
    border-radius: 5px;
}

#seleccion-ataques{
    display:flex;
    flex-direction: column;
    align-items: center;
}

input {
    display:none;
}

input:checked + label {
    background-color: rgb(253, 240, 215);
}

.boton-ataque{
    background-color: rgb(79, 226, 214) ;
    width: 80px;
    height: 40px;
    border-radius: 25px;
    font-size: 15px;
    border: 1px solid rgb (79,226,214);
    color :aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: black;
}
#comentario{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 114px;
    padding: 5px;
    background: rgb(151, 223, 223);
    border-radius: 20px;
    margin-top: 10px;
    border:1px solid rgb(0,170,170);
    align-items: center;
}
#seccion-resumen{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    background-color: rgb(151, 223, 223);
    border-radius: 20px;
    margin-top: 20px;
    border:1px solid rgb(0,170,170);

}
#seccion-resumen-foto{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
}
.resumen-jugadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 232px;
    box-sizing: border-box;
    
}
#foto-jugador, #foto-rival{
    width: 300px;
    height: 450px;
    box-sizing: border-box;
}
#resumen{
    margin-top: 160px;
}
.victorias{
    font-size: 30px;
}

#boton-reinicio{
    background-color: rgb(79, 226, 214) ;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-size: 15px;
    border: 1px solid rgb (79,226,214);
    color :aliceblue;
    font-family: 'Poppins', sans-serif;
    color:#004450;
}
#reinicio{
    display: flex;
    justify-content: center;
}
.botones-mover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
#flechas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
#ver-mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#mapa{
    border-radius: 10px;
}




@media (max-width: 450px){
    .labels, .botones, #titulo{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 450px){
    #ver-mapa div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}